* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@media screen and (min-width:800px) {
  body {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #222;
    font-family: 'Share Tech Mono';
  }

  /*navigation elements*/

  .navbar {
    text-align: center;
    /*height: 70px;*/
    background-color: lightyellow;
    font-size: 1.5em;
    color: #555;
  }

  nav li {
    display: inline;
  }

  nav ul {
    margin-top: 20px;
  }

  ul div {
    display: inline-block;
    margin bottom: 15px;
  }
}

@media screen and (max-width:799px) {
  body {
    padding-top: 120px;
    padding-bottom: 100px;
    background: #222;
    font-family: 'Share Tech Mono';
  }

  /*navigation elements*/

  .navbar {
    text-align: center;
    /*height: 80px;*/
    background-color: lightyellow;
    font-size: 1.3em;
    color: #555;
  }

  nav li {
    display: inline;
  }

  nav ul {
    margin-top: 10px;
  }

  ul div {
    display: inline-block;
    margin-bottom: 5px;
  }
}


@media screen and (max-width:499px) {
  body {
    padding-top: 140px;
    padding-bottom: 100px;
    background: #222;
    font-family: 'Share Tech Mono';
  }

  /*navigation elements*/

  .navbar {
    text-align: center;
    /*height: 80px;*/
    background-color: lightyellow;
    font-size: 1.3em;
    color: #555;
  }

  nav li {
    display: inline;
  }

  nav ul {
    margin-top: 10px;
  }

  ul div {
    display: inline-block;
    margin-bottom: 5px;
  }
}




#game-title {
  font-weight: bolder;
  color: #111;
}

#separators {
  color: lightgray;
  font-weight: lighter;
}

/*footer elements*/

footer {
}

footer li {
  display: inline;
  font-size: 1em;
}

footer ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-fixed-bottom {
  height: 70px;
}

/*status windows*/

#betting-money {
  background: #555;
  padding: 4px;
  color: white;
}

#current-money {
  background: #555;
  padding: 4px;
  color: white;
}

/*Playing area*/

div {
  max-width: 900px;
}

.play-areas {
  text-align: center;
}

#title-area {
  background: lightblue;
  font-size: 2em;
}

#dealercard-area {
  background: lightyellow;
  height: 150px;
}

#playercard-area {
  background: lightyellow;
  height: 150px;
}

#rules-area {
  margin-top: 10px;
  font-size: 1em;
  font-style: italic;
  color: gray;
}

#message-area {
  background: darkgreen;
  margin: 10px auto;
  font-size: 1.5em;
  color: lightyellow;
}


/*images*/

img {
  height: 90%;
  margin: 1%;
  border: solid gray 1px;
  border-radius: 4px;
}

/*Card design*/

.cards {
  background: white;
  margin: 7px;
  height: 90%;
  width: 100px;
  display: inline-block;
  border: solid gray 1px;
  border-radius: 4px;
  text-align: center;
  padding-top: 32px;
  font-size: 3em;
}

#red-font {
  color: red;
}

/*stacking works, yay!*/

.cards:nth-child(1n+2) {
  margin-left: -25px;
}
